<form (ngSubmit)="onSubmit()" [formGroup]="messageForm">
  <div>
    <label for="message-text">Message Text</label>
    <textarea id="message-text" formControlName="text"></textarea>
  </div>
  <div>
    <label for="action">Action?</label>
    <select name="action" id="action" formControlName="action">
    <option value="">[no action]</option>
    <option value="add">add</option>
    <option value="update">update</option>
  </select></div>
  <div>
    <button type="submit">Set text</button>
  </div>
</form>
